@import "tailwindcss";

@font-face {
  font-family: "Digi-Titr";
  src: url("/public/fonts/Digi-Titr-Plus-Bold-Line.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Samim";
  src: url("/public/fonts/Samim.woff2") format("woff2");
  font-display: swap;
}

@keyframes fade-up {
  from {
    transform: translateY(100px);
  }
  to {
    transform: translateY(0px);
  }
}

body {
  font-family: "Samim";
  @apply bg-stone-100 transition-all duration-200;
}

html.dark section {
  @apply bg-gray-900 text-stone-200;
}
html.dark nav {
  @apply bg-gray-900/50 text-stone-200 border-b border-gray-700;
}
html.dark footer {
  @apply bg-gray-800 text-stone-200 border-b border-gray-700;
}
html.dark .intro-hello {
  @apply bg-gray-800 text-stone-200;
}
html.dark .intro-title {
  @apply bg-gray-800 text-stone-200;
}
html.dark .intro-icon-bg {
  @apply bg-gray-800;
}
html.dark .intro-co p {
  @apply text-stone-200;
}
html.dark .intro-portfolio {
  @apply hover:text-gray-700;
}
html.dark .hero-box {
  @apply bg-gray-800 text-stone-200;
}
html.dark .hero-box p {
  @apply text-stone-200;
}
html.dark .skill-box {
  @apply bg-gray-800 text-stone-200;
}
html.dark .skill-description {
  @apply text-stone-400;
}
html.dark .skill-box-desceription {
  @apply text-stone-200;
}
html.dark .FAQ-co {
  @apply bg-gray-800;
}
html.dark .FAQ-item {
  @apply bg-gray-700;
}
html.dark .FAQ-item p {
  @apply text-gray-400;
}
html.dark .HeroIntro p {
  @apply text-gray-400;
}
html.dark .welcome {
  @apply bg-gray-800 text-gray-200;
}
html.dark .futureGoalsCard {
  @apply bg-gray-800;
}
html.dark .futureGoalsCard p {
  @apply text-gray-400;
}
html.dark .PhilosophyCard {
  @apply bg-gray-800 text-gray-200;
}
html.dark .PhilosophyCard p {
  @apply text-gray-400;
}
html.dark .banner {
  @apply bg-gray-800 text-gray-200;
}
html.dark .banner p {
  @apply text-gray-400;
}
html.dark .banner li {
  @apply border-gray-700;
}

html {
  scrollbar-color: #432dd7 beige;
}

::selection {
  background-color: #ffea00;
}

nav {
  @apply sticky top-0 backdrop-blur-md w-full z-50 bg-white/50 p-4 px-20 sm:flex justify-between hidden;
}
footer {
  @apply space-y-10 p-5 bg-white border-t border-gray-300;
}

/* intro component */
.intro-co {
  @apply relative z-10 flex flex-col items-center p-5 md:p-20 overflow-hidden;
}
.intro-icon-bg {
  @apply absolute w-10 bg-white rounded-full animate-pulse p-1;
}
.intro-content {
  @apply flex flex-col gap-7 justify-center items-center z-10;
}
.intro-hello {
  animation: fade-up 0.5s linear;
  @apply text-sm bg-white p-2 rounded-sm border-r-4 border-indigo-700;
}
.intro-title {
  animation: fade-up 0.6s linear;
  @apply text-xs sm:text-sm bg-white p-2 rounded-sm border-r-4 border-indigo-700;
}
.intro-text {
  animation: fade-up 0.7s linear;
  @apply text-4xl font-[Digi-Titr] text-center;
}
.intro-desceription {
  animation: fade-up 0.8s linear;
  @apply text-sm text-gray-700 text-wrap;
}
.intro-contact-btn {
  animation: fade-up 0.8s linear;
  @apply flex justify-center items-center gap-2 bg-indigo-600 p-2 rounded-sm text-xs text-white hover:bg-indigo-700 transition cursor-pointer;
}
.intro-portfolio {
  @apply flex justify-center items-center gap-2 text-xs p-2 hover:border-r-4 hover:bg-indigo-100 rounded-l-sm border-indigo-700 transition-all duration-75 cursor-pointer;
}
.hero-box {
  animation: fade-up 0.9s linear;
  @apply flex flex-wrap justify-between items-center gap-5 mt-5 bg-white rounded-lg p-2;
}
.hero-item {
  @apply bg-gray-700 flex items-center gap-2 p-2 rounded-sm border border-gray-500;
}
.skill-box {
  @apply flex flex-col items-center bg-white rounded-lg w-full p-7
   space-y-5 hover:scale-95 transition-all duration-300 cursor-pointer
   hover:shadow-2xl;
}
.skill-description {
  @apply text-center text-sm text-gray-700 mt-5;
}
.skill-box-icon {
  @apply flex justify-center items-center bg-indigo-500 w-10 h-10 rounded-md text-white;
}
.skill-box-title {
  @apply flex justify-center items-center gap-1 font-semibold;
}
.skill-box-desceription {
  @apply text-sm text-gray-700 text-center;
}

.FAQ-co {
  @apply bg-white m-5 my-15 rounded-2xl grid grid-cols-1
  sm:grid-cols-2 gap-10 sm:gap-0 px-5 py-10;
}
.FAQ-item {
  @apply bg-gray-100 w-full p-4 rounded-md text-sm;
}

.footer-icon {
  @apply bg-indigo-500 p-2 rounded-sm text-white hover:scale-110 cursor-pointer transition-all duration-300;
}

/* AboutUsPage */
.HeroIntro {
  @apply flex flex-col justify-center gap-10 items-center md:items-start justify-self-center;
}
.HeroIntro .welcome {
  @apply bg-white rounded-l-md border-r-4 border-indigo-700 text-sm py-1 px-2;
}
.Philosophy {
  @apply grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4 mt-10;
}
.PhilosophyCard {
  @apply flex items-center gap-2 bg-white p-5 rounded-md hover:shadow-2xl hover:scale-95 transition-all duration-300 cursor-pointer;
}
.PhilosophyCard p {
  @apply text-sm text-gray-700;
}

.futureGoalsCard {
  @apply bg-white p-5 rounded-l-md hover:shadow-2xl h-30 content-center border-r-4 border-indigo-700 transition-shadow cursor-pointer;
}
.futureGoalsCard p {
  @apply text-sm text-gray-700 mt-2;
}

/* ContactPage */

.banner {
  @apply bg-white my-10 p-10 flex flex-col items-center gap-10 rounded-lg;
}
.banner li {
  @apply flex items-center gap-2 text-sm py-2 px-4 border border-stone-300 rounded-md hover:bg-indigo-500 transition cursor-pointer;
}

.ContactWays {
  @apply w-full grid grid-cols-1 sm:grid-cols-2 gap-5 lg:grid-cols-3 justify-self-center my-5;
}
.ContactWays img {
  @apply border border-stone-200 p-1 rounded-md hover:scale-90 hover:bg-gray-200 transition duration-300 cursor-pointer;
}
.ContactWays .card {
  @apply flex justify-between items-center w-full bg-white p-5 rounded-lg;
}
